::selection {
  background-color:#f9556d;
  color: #fff;
}
::-moz-selection {
  background-color:#f9556d;
  color: #fff;
}

a:hover {
  color:#f9556d;
}

a,
.m-btn-t-theme,
.m-btn-t-theme:hover,
.theme-color{
  color:#f9556d;
}


.theme-before:before,
.theme-after:after,
.theme-hover:hover,
.theme-bg {
  background-color: #f9556d;
}


.theme-border {
  border-color: #f9556d !important;
}
.m-btn-t-theme {
  border-color: #f9556d;
}
.m-btn-t-theme {
  box-shadow: 0 0 #f9556d;
}
.m-btn-t-theme:hover {
  box-shadow: 2px 2px #f9556d;  
}


.m-dropdown-multilevel .m-dropdown-menu > li > ul > li > ul > li > ul > li:hover > a, 
.m-dropdown-multilevel .m-dropdown-menu > li > ul > li > ul > li:hover > a, 
.m-dropdown-multilevel .m-dropdown-menu > li > ul > li:hover > a, 
.m-dropdown-multilevel .m-dropdown-menu > li:hover > a {
  color: #f9556d; 
}